[user]
    name = tony-ssr
    email = 10antonysalcedo@gmail.com

[core]
    autocrlf = true
    editor = code

[push]
    default = simple

[pull]
    rebase = false

[init]
    defaultBranch = main
